body
{
    background-color: black;
    color: lightgrey;
}

nav
{
    color: lightgrey;
}

#carousel-example-generic
{
    height: 400px;
}
#carousel-example-generic img
{
    width:100%;
    height: 400px;
}
.jumbotron
{
    background-color:  #666;
    font-family: "Iceland";
    font-weight: bolder;
}
.border
{
    //border: white 1px solid;
}
.border img
{
    width: 100%;
}
.space
{
    //border: white 1px dashed;
    height:400px;
}

.titlel
{

	font-family: "MedievalSharp";
}
.box_dragndrop{
    display: none;
}
.box_uploading{
    display: none;
}
.box_success{
    display: none;
}
.box_error {
  display: none;
}
